<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cucuhardiyanti.pbti">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mesjid1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mesjid1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DoaKeluarRumah"></activity>
        <activity android:name=".DoaMasukRumah" />
        <activity android:name=".DoaMemintaKebaikan" />
        <activity android:name=".DoaMerasaSakit" />
        <activity android:name=".DoaMerasaTakut" />
        <activity android:name=".DoaTerhindarDariSyirik" />
        <activity android:name=".DoaTertimpaMusibah" />
        <activity android:name=".mainDoa" />
        <activity android:name=".mainHalal" />
        <activity android:name=".mainSholat" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>